.box{
    margin-bottom: 20px;
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label, .inputfile + label:focus {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
    color: #76C71C;
    border: 1px solid currentColor;
        -webkit-border-radius:4px;
       -moz-border-radius:4px;
            border-radius:4px;
}

.inputfile + label > span{
    font-family:'open sans';
    font-weight: 400;
    color: #76C71C;
}


.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}


.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


.experienced-person{
    margin-bottom: 20px;
}

.experienced-person >label{
    font-family: 'open sans';
    color: #76C71C;
    cursor: pointer;
}



.check-error,.upload-error,.email-error{
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ff0033;

}

.exp-container{
    clear: both !important;
}

footer{
    margin-top: 10%;
    text-align: center;
    padding-bottom: 20px;
}

footer a {
    text-decoration: none;
}






}